body {
  background-color: #0a443d;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.background-border {
  background-color: #73b6a9;
  border-radius: 4px;
  border: 1px solid #030a09;
  box-shadow: 2px 2px 5px #030a09;
  margin: 30px auto;
  max-width: 600px;
  padding: 25px;
}

h1 {
  color: #184d47;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 0;
}

ul {
  color: #030a09;
  display: block;
  font-size: 13px;
  font-weight: lighter;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-bar {
  background-color: whitesmoke;
  color: #184d47;
  border-radius: 4px;
  border: 1px solid #030a09;
  box-shadow: 2px 2px 5px #030a09;
  font-size: 15px;
  padding: 5px 20px;
}

#search-submit {
  background-color: #184d47;
  color: whitesmoke;
  border-radius: 4px;
  border: 1px solid #030a09;
  box-shadow: 2px 2px 5px #030a09;
  font-size: 15px;
  padding: 5px 30px;
  transition: all 150ms ease-in-out;
}

#search-submit:hover {
  background-color: #030a09;
}

#location-submit {
  background-color: #29857a;
  color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #030a09;
  box-shadow: 2px 2px 5px #030a09;
  font-size: 15px;
  padding: 5px 20px;
  transition: all 150ms ease-in-out;
}

#location-submit:hover {
  background-color: #030a09;
}

.topButton {
  margin-bottom: 25px;
}

#current-city {
  color: #030a09;
}

#last-update,
#current-date {
  font-size: 13px;
  font-weight: lighter;
}

#weather-description {
  font-weight: bold;
  text-transform: capitalize;
}

#icon {
  position: relative;
  top: -15px;
}

#current-temperature {
  color: #030a09;
  font-size: 47px;
  font-weight: 900;
  position: relative;
  top: 0px;
}

.bigC {
  color: #030a09;
  font-size: 15px;
  font-weight: 600;
  padding: 0 0 0 7px;
  position: relative;
  top: -24px;
}

.bigF {
  color: #030a09;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  top: -24px;
}

.forecastButton {
  background-color: #184d47;
  color: whitesmoke;
  border-radius: 4px;
  border: 1px solid #030a09;
  box-shadow: 2px 2px 5px #030a09;
  font-size: 15px;
  padding: 5px 10px;
  transition: all 150ms ease-in-out;
}

.forecastButton:hover {
  background-color: #030a09;
  cursor: pointer;
}

#code-by {
  color: #f5f5f5;
  display: block;
  font-weight: lighter;
  text-align: center;
}

#github-link {
  color: #29857a;
}

#github-link:hover {
  color: #f5f5f5;
}
