body {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    #355e58 0%,
    #0a1816 15.9%,
    #193a35 15.9%,
    #bad6d1 24.4%,
    #355e58 24.5%,
    rgb(6, 17, 15) 90%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.background-border {
  background-color: #bad6d1;
  border-radius: 4px;
  border: 1px solid #030a09;
  box-shadow: 2px 2px 5px #030a09;
  margin: 30px auto;
  max-width: 600px;
  padding: 25px 25px 0 25px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 0;
}

ul {
  color: #030a09;
  display: block;
  font-size: 13px;
  font-weight: lighter;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-bar {
  background-color: #f5f5f5;
  color: #030a09;
  border-radius: 4px;
  border: 1px solid #030a09;
  box-shadow: 2px 2px 5px #030a09;
  font-size: 15px;
  padding: 5px 20px;
}

#search-submit {
  background-color: #193a35;
  color: whitesmoke;
  border-radius: 4px;
  border: 1px solid #030a09;
  box-shadow: 2px 2px 5px #030a09;
  font-size: 15px;
  padding: 5px 30px;
  transition: all 150ms ease-in-out;
}

#search-submit:hover {
  background-color: #0a1816;
}

.topButton {
  margin-bottom: 25px;
}

#current-city {
  color: #030a09;
}

#last-update,
#current-date {
  font-size: 13px;
  font-weight: lighter;
}

#weather-description {
  font-weight: bold;
  text-transform: capitalize;
}

#icon {
  position: relative;
  top: -15px;
}

#current-temperature {
  color: #030a09;
  font-size: 47px;
  font-weight: 900;
  position: relative;
  top: 0px;
}

#bigC {
  color: #030a09;
  font-size: 15px;
  font-weight: 600;
  padding: 0 0 0 7px;
  position: relative;
  top: -24px;
}

.betweenCAndF {
  color: #030a09;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  top: -24px;
}

#bigF {
  color: #030a09;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  top: -24px;
}

.celsiusFahrenheitLink .active {
  text-decoration: none;
}

#hr-margin {
  margin: -5px 0 25px 0;
}

.forecast {
  color: #030a09;
  font-size: 13px;
  text-align: center;
}

.forecast-days {
  font-weight: 600;
}

.forecast-temp {
  font-size: 12px;
  font-weight: lighter;
}

.forecast-temp-max {
  font-weight: 400;
}

#code-by {
  color: #f5f5f5;
  display: block;
  font-weight: lighter;
  text-align: center;
}

#github-link {
  color: #f5f5f5;
}

#github-link:hover {
  color: #0a1816;
}
